<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Bubu Store - Home</title>
	</head>
	<body>
		<header
			style="display: flex; justify-content: space-between; align-items: center; max-width: 800px; margin: 0 auto"
		>
			<h1>Bubu Store</h1>
			<nav style="display: flex; gap: 20px">
				<a href="/">Home</a>
				<a href="/productos">Productos</a>
				<a href="/contacto">Contacto</a>
			</nav>
		</header>
		<h1>Bienvenidos a Bubu Store!</h1>
		<p>
			Lorem ipsum dolor sit amet consectetur adipisicing elit. Natus consectetur excepturi aperiam beatae hic, non quia
			illum sequi suscipit architecto quibusdam iure. Animi quaerat sit fugiat eos. Ratione, laboriosam dolorem expedita
			quaerat tempora debitis, qui voluptates, delectus accusamus fugiat sunt!
		</p>
	</body>
</html>
