<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Bubu Store - Producto <%= productId %></title>
	</head>
	<body>
		<header
			style="display: flex; justify-content: space-between; align-items: center; max-width: 800px; margin: 0 auto"
		>
			<h1>Bubu Store</h1>
			<nav style="display: flex; gap: 20px">
				<a href="/">Home</a>
				<a href="/productos">Productos</a>
				<a href="/contacto">Contacto</a>
			</nav>
		</header>
		<h1>Producto <%= productId %></h1>
		<p>
			Lorem ipsum dolor sit, amet consectetur adipisicing elit. Eveniet sint facere, praesentium iste enim deserunt
			provident dolores consequuntur perferendis dolorum eos unde esse, eum dolorem, aut sit soluta non natus adipisci
			nesciunt sunt nulla veniam! Harum rerum itaque quisquam voluptatem ullam consequuntur, vel quo voluptatum
			reprehenderit tempora cupiditate! Nulla, dicta.
		</p>

		<p>Esta aplicacion pertenece a <%= nombre %></p>
	</body>
</html>
